body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.img-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img-footer a {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: wheat;
}
.footer #github-link {
  text-decoration: none;
  color: black;
  margin: 16px;
  display: flex;
  flex-direction: row;
}
.footer #github-link img {
  align-self: center;
}
.footer p {
  margin: 16px;
}
