body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main{
  display: flex;
  flex-direction: row;
  .left-section{
    width: 70%;
    height: 80vh;
    background-color: lightgray;
    border: 1px lightgray;
    border-radius: 5px;
    .img-header{
      display: flex;
      flex-direction: row;

      h2{
        margin-bottom: 2px;
        align-self: flex-start;
      }
      h3{
        margin-bottom: 2px;  
      }
    }
  }
  .right-section{
    width: 30%;
  }
  .img-container{
    position: relative;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    .sd-hd{
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row;
      left: 15%;
      bottom: 0px;
      button{
        height: 35px;
        width: 35px;
      }
    }
  }
}