body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.main {
  display: flex;
  flex-direction: row;
}
.main .left-section {
  width: 70%;
  background-color: lightgray;
  border: 1px lightgray;
  border-radius: 5px;
  margin-left: 5%;
}
.main .left-section .img-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.main .left-section .img-header .form-group {
  margin-bottom: 0px;
}
.main .left-section .img-header h2 {
  margin-left: 10%;
}
.main .left-section .img-header form {
  margin-right: 10%;
}
.main .left-section .img-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main .left-section .img-footer .buttons {
  margin-left: 10%;
}
.main .left-section .img-footer p {
  margin-right: 10%;
}
.main .right-section {
  width: 30%;
  background-color: #efefef;
  margin-right: 5%;
}
.main .right-section p {
  margin: 10px;
  font-size: 1.3rem;
}
.main .img-container {
  position: relative;
}
.main .img-container img {
  max-width: 100%;
  height: auto;
}
.main .img-container .sd-hd {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  left: 15%;
  bottom: 0px;
}
.main .img-container .sd-hd button {
  height: 35px;
  width: 35px;
}
